@import './_variables';

/**
 * Global styles
 */

* {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: $light-grey;
  }

  ::-webkit-scrollbar-thumb {
    background: $dark-grey;
    transition: all 0.15s ease-in-out;

    &:hover {
      background: $grey;
      transition: all 0.15s ease-in-out;
    }
  }
}

body {
  background-color: $white;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  margin: 0 0 16px 0;
}

h1, h2, h3 {
  font-weight: 900;
}

h1 {
  font-size: 62pt;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-size: 42pt;
  line-height: 1.4;
  font-weight: 800;
}

h3 {
  font-size: 20pt;
  line-height: 1.4;
  font-weight: 500;
}

h4, h5, h6 {
  font-size: 16pt;
  line-height: 1.4;
  font-weight: 500;
}

p, span {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.2;
}

a,
button {
  font-family: $primary-font;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin: 0 0 8px 0;
}

a {
  text-decoration: none;
}

.hidden-content {
  display: none;
}

.view-wrapper {
  width: $max-width;
  max-width: 100%;
  margin: 0 auto;
}

[data-view] {
  flex: 1;
  width: 100%;
}
